@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --typewriter-seed: 3s;
    --primary-color: white;
    --secondary-color: black;
    --third-color: grey;
    --button-color: white;
    
}

.dark-theme {
    --primary-color: black;
    --secondary-color: white;
    --third-color: grey;
    --button-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color)
}

li, a, button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 90%;
    color: var(--secondary-color);
    z-index: 99;
}

.logo {
    height: 25px;
    padding-right: 20px;
}

.menu-heading{
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    margin-right: auto;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: var(--third-color);
}

.nav-links li a:hover {
    color: var(--secondary-color);
}

button {
    margin-left: 20px;
    padding: 14px 25px;
    background-color: rgba(28,115,232,255);
    color: var(--button-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #1968d1;
}

.header-container {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px
}

.header{
    text-align: center;
    font-size: 45px;
    color: var(--secondary-color);
    padding-top: 80px;
}

.secondary-header-container {
    display: grid;
    place-content: center;
    text-align: center;
    background-color: var(--primary-color);
}

.secondary-header {
    font-Size: 25px;
    font-family: 'Source Code Pro', monospace;
    position: relative;
    margin-top: 45px;
    width: max-content;
    box-sizing : border-box;
    animation-iteration-count: infinite;
    color: var(--secondary-color);
}

.secondary-header::before,
.secondary-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-iteration-count: infinite;
}

.secondary-header::before {
    background: var(--primary-color);
    animation: typewriter var(--typewriter-seed) steps(18) 1s forwards;
}

.secondary-header::after {
    width: 4px;
    background: var(--secondary-color);
    animation: 
        typewriter var(--typewriter-seed) steps(18) 1s forwards,
        blink 750ms steps(18) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.phone-container {
    
    display: flex;
    align-items: center;
    margin-top :100px;
    justify-content: center;
}

.phone {
    margin-top: -50px;
    width: 380px;
    height: 430px;
    margin-right: 50px;
}

.Iphone {
    margin-top: 80px;
    width: 350px;
    height: 550px;
    margin-left: 50px;
}

.text-container {
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.text-container2 {
    margin-top: 300px;
    margin-left: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.header-title {
    font-size: 40px;
    font-weight: lighter;
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
    color: var(--secondary-color)
}

.text-side {
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: var(--secondary-color)
}

.btn-Menu-text {
    margin-top: 40px;
    margin-left: -2px;
}

.text-section {
    margin-top: 30px;
    font-size: 20px;
    color: #1967d2;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
}

.manage-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow_circle_left {
    margin-top: 30px;
    width: 2%;
    margin-left: 5px;
    color: #1967d2;
}

.android {
    width: 240px;
    height: 500px;
    margin-left: 200px;
    margin-top: -50px;
}

.getstarted-section {
    margin: auto;
    margin-top: 300px;
    margin-bottom: 200px;
    width: 50%;
    padding: 10px;
}

.ElHouse {
    width: 100px;
    height: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.getStarted-text {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: var(--secondary-color);
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.btn-Menu-getStarted {
    margin-left: 20px;
    padding: 14px 25px;
    background-color: rgba(28,115,232,255);
    color: var(--button-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.btn-Menu-getStarted:hover{
    background-color: #1968d1;
}

.follow-section {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 50px;
    color: var(--secondary-color)
}

.follow-text {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bottom-icon {
    padding-top: 45px;
    margin-left: 40px; 
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    width: 30px;
    height: 30px;
}

.BottomSection {
    height: 500px;
    background-color: var(--primary-color);
}

.line {
    margin-left: 120px;
    margin-top: 40px;
}

.bottom-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
}

.bottom-section-logo {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    height: 25px;
}

.bottom-section-items {
    display: flex;
    flex: 0 0 25em;
    justify-content: space-between;
    align-items: inherit;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    color: var(--secondary-color)
}

.second-section {
    display: flex;
    flex: 0 0 7em;
    justify-content: space-between;
    align-items: inherit;
}

.help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 3.75em;
}

.help_logo {
    width: 20px;
    height: 20px;
}

.help_text {
    font-family: 'Roboto Flex', sans-serif;
    color: var(--secondary-color);
}

.light-dark-mode {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.heading-section {
    display: flex;
    align-items: center;
}

.heading-section-text {
    margin-right: 120px;
    margin-left: 180px;
    margin-top: 50px;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 400px;
    color: var(--secondary-color)
}

.heading-section-p-section {
    margin-top: 30px;
    margin-left: 60px;
}


.heading-section-p {
    margin-left: 120px;
    font-family: 'Roboto', sans-serif;
    color: var(--third-color);
    margin-bottom: 20px;
}

