@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&family=Source+Sans+Pro:wght@200&display=swap');

:root {
    --typewriter-seed: 3s;
    --primary-color: white;
    --secondary-color: black;
    --third-color: grey;
    --button-color: white;
    
}

.dark-theme {
    --primary-color: black;
    --secondary-color: white;
    --third-color: grey;
    --button-color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color)
}

li, a, button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 90%;
    color: var(--secondary-color);
    z-index: 99;
}

.logo {
    height: 35px;
    margin-right: 20px;
}

.menu-heading{
    font-family: 'Josefin Sans', sans-serif;
    margin-right: auto;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: var(--third-color);
}

.nav-links li a:hover {
    color: var(--secondary-color);
}

button {
    padding-left: 40px;
    padding: 14px 25px;
    background-color: rgba(28,115,232,255);
    color: var(--button-color);
    border: none;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #1968d1;
}

.header-container {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px
}

.header{
    text-align: center;
    font-size: 45px;
    color: var(--secondary-color);
    padding-top: 80px;
}

.first-top-container {
    display: flex;
    flex-direction: row;
    margin: 0 500px;
    margin-top: 200px;
    padding-bottom: 100px;
}

.first-text-side {
    width: 100px;
}

.Iphone {
    margin-top: 80px;
    width: 350px;
    height: 550px;
    margin-left: 50px;
}

.text-container-top {
    margin-top: 250px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-container {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-container2 {
    margin-top: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-title-top {
    font-size: 40px;
    font-weight: 700px;
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
    color: var(--secondary-color)
}

.header-title {
    font-size: 40px;
    font-weight: lighter;
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
    color: var(--secondary-color)
}

.text-side {
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: var(--secondary-color)
}

.btn-Menu-text {
    margin-top: 40px;
    margin-left: -2px;
}

.text-section {
    margin-top: 30px;
}

.text-section-a {
    font-size: 20px;
    color: #1967d2;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
}

.manage-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow_circle_left {
    margin-top: 35px;
    width: 2%;
    margin-left: 10px;
    color: #1967d2;
}

.android {
    width: 240px;
    height: 500px;
    margin-left: 200px;
    margin-top: -50px;
}

.getstarted-section {
    margin: auto;
    margin-top: 300px;
    margin-bottom: 200px;
    width: 50%;
    padding: 10px;
}

.ElHouse {
    width: 100px;
    height: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.getStarted-text {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: var(--secondary-color);
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.btn-Menu-getStarted {
    margin-left: 20px;
    padding: 14px 25px;
    background-color: rgba(28,115,232,255);
    color: var(--button-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.btn-Menu-getStarted:hover{
    background-color: #1968d1;
}

.follow-section {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 50px;
    color: var(--secondary-color);
}

.follow-text {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bottom-icon {
    margin-top: 45px;
    margin-left: 40px; 
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    width: 30px;
    height: 30px;
}

.BottomSection {
    height: 500px;
    background-color: var(--primary-color);

}

.line {
    margin-left: 120px;
    margin-top: 40px;
}

.btn-Menu-top-section {
    margin-top: 30px;
    margin-left: -2px;
}

.btn-Menu-top-section-a{
    color: white
}

.middle-section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.middle-section-heading {
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}

.button-text {
    color: white;
}

.middle-section-body {
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.text-side {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    color: var(--secondary-color);
}

.text-side-bottom {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: var(--secondary-color);
}


.bottom-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 50px;
}

.first-section {
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    padding-top: 5px;
    box-shadow: inset 0 0 0 0 #1968d1;
    color: var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.first-section:hover {
    box-shadow: inset 100px 0 0 0 #1968d1;
    cursor: pointer;
}

.first-section-text {
    margin-left: 30px;
    padding-top: 2px;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

.first-section-text:hover {
    color: var(--primary-color)
}

.first-section-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 25px;
    box-shadow: inset 0 0 0 0 #1968d1;
    color: var(--primary-color);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.first-section-one:hover{
    box-shadow: inset 200px 0 0 0 #1968d1;
    cursor: pointer;
}

.help_text {
    color: var(--secondary-color);
    margin-top: 10px;
    margin-right: 50px;
}

.help_texts {
    color: var(--secondary-color);
}

.second-section {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
}

.help_logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.heading-section-text {
    margin-right: 120px;
    margin-left: 180px;
    margin-top: 50px;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 400px;
    color: var(--secondary-color)
}

.heading-section-p-section {
    margin-top: 30px;
    margin-left: 60px;
}

.heading-section-p {
    margin-left: 120px;
    font-family: 'Roboto', sans-serif;
    color: var(--third-color);
    margin-bottom: 20px;
}

.heading-section-p-a {
    color: var(--third-color);
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.light-dark-mode {
    margin-right: 20px;
    margin-top: 8px;
    width: 25px;
    height: 25px;
    transform: rotate(0deg);
}

.light-dark-mode:hover {
    -webkit-animation: rotating 0.5s linear infinite;
}


