@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --typewriter-seed: 3s;
  --primary-color: white;
  --secondary-color: black;
  --third-color: grey;
  --button-color: white;
  
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
  --third-color: grey;
  --button-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  background: var(--primary-color);
  color: #4d5974;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 80%;
  margin-top: 100px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid grey;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #1a73e8;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #1968d1;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #1a73e8;
  border: 1px solid grey;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion-title {
    margin-top: 20px;
    color: #1a73e8;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #1968d1;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.accordion-content {
  color: var(--secondary-color)
}

.heading-text {
  color: var(--secondary-color);
  font-size: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.bottom-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 4%;
  margin-left: 50px;
}

.first-section {
  display: flex;
  flex-direction: row;
  
}

.first-section-text {
  margin-left: 30px;
  padding-top: 2px;
  justify-content: center;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  color: var(--secondary-color)
}

.help_text {
  color: var(--secondary-color);
  margin-top: 10px;
  margin-right: 50px;
}

.second-section {
  display: flex;
  flex-direction: row;
  margin-left: 250px;
}

.help_logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.heading-section {
  display: flex;
  align-items: center;
}

.heading-section-text {
  margin-right: 120px;
  margin-left: 180px;
  margin-top: 50px;
  font-family: 'Radio Canada', sans-serif;
  font-weight: 400px;
  color: var(--secondary-color)
}

.heading-section-p-section {
  margin-top: 30px;
  margin-left: 60px;
}


.heading-section-p {
  margin-left: 120px;
  font-family: 'Roboto', sans-serif;
  color: var(--third-color);
  margin-bottom: 20px;
}

.light-dark-mode {
  margin-right: 20px;
  margin-top: 8px;
  width: 25px;
  height: 25px;
}
